html {
  font-family: Helvetica;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

h1 {
  font-size: 200%;
}
/*******************************************************************************
                          Menú de navegación y titular (header)
*******************************************************************************/
header {
  /** Color general para todos los elementos dentro de header **/
  color: Azure;
  background-color: #cb4335;
  text-align: center;
  margin-bottom: 0.05%;
  /**opacity: 0.85;**/
}

header h1 {
  /** Titular "Iztacala para todos" **/
  margin: 0%;
  padding-top: 1%;
  text-transform: uppercase;
  font-weight: bold;
  height: 20%
}

header nav {
  /** Navegación superior **/
  font-size: 100%;
  text-align: center;
}

header nav table {
  display: inline-block;
}

header nav td {
  /** Información de cada celda **/
  width: 100px;
  font-weight: lighter;
}
