html {
  font-family: Helvetica;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 100%;
}

h1 {
  font-size: 200%;
}
/*******************************************************************************
                          Menú de navegación y titular (header)
*******************************************************************************/
header {
  /** Color general para todos los elementos dentro de header **/
  color: Azure;
  background-color: #cb4335;
  text-align: center;
  margin-bottom: 0.05%;
  /**opacity: 0.85;**/
}

header h1 {
  /** Titular "Iztacala para todos" **/
  margin: 0%;
  padding-top: 1%;
  text-transform: uppercase;
  font-weight: bold;
  height: 20%
}

header nav {
  /** Navegación superior **/
  font-size: 100%;
  margin: 0 auto;
}

header nav ul {
  list-style-type: none;
  margin 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: inherit;
}

header li {
  float: left;
}

header li a {
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header li a:hover {
  background-color: Azure;
  color: #cb4335;
}
