html {
  width: 100;
  height: 100%;
  font-family: Futura, sans-serif;
  font-size: 100%;
}

body{
  width: inherit;
  height: inherit;
  background-color: #201c29;
}

#TS {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
