@-ms-viewport {
  width: device-width;
}

html {
  width: 100;
  height: 100%;
  font-family: Futura, sans-serif;
  font-size: 100%;
}

body{
  margin: 0 auto;
  padding: 0;
  width: inherit;
  height: inherit;
  background-color: #100e17;
}

#TS {
  /*display: inline-block;
  width: 90%;
  height: 75%;
  margin: 0 auto;
  padding: 0;
  background-color: Black;*/
  position:fixed;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  width:100%;
  height:100%;
  border:none;
  margin:0;
  padding:0;
  overflow:hidden;
  z-index:999999;
}

p{
  color: Azure;
  font-size: 120%;
  text-align: center;
}
